/*COLOR PALETTE: http://www.colourlovers.com/palette/359978/w_o_r_d_l_e_s_s_. */
$primary-color: #e5e3e3; /*gray */
$secondary-color: #CBE86B; /* green */
$third-color: #fff; /* white */

$primary-color-hover: #9C9E95; 
$secondary-color-hover: #6f822a;
$third-color-hover: #CBE86B;

$primary-color-border: #1F1B1B;
$primary-color-border-hover: #515838;

/* FONTS: http://www.mrmcguire.com/10-useful-google-font-combinations-for-your-next-site/ */
$header-font:'Alegreya', serif;
$subheader-font: 'Roboto Condensed', sans-serif;
$content-font: 'Roboto', sans-serif;

$nav-height: 80px;
$header-image: "Images/header-code.jpg";

body {
    padding-top: $nav-height;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
.navbar-static-top {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
 }
/* TOP NAVBAR */
.navbar-default {
    border: none;
}

.navbar-default .navbar-brand {
    color: $third-color;
}
.navbar-default .navbar-brand:hover {
    color: $third-color-hover;
}

nav {
    position: absolute;
    background: url($header-image);
    background-color: #000;
    height: $nav-height;
    border: 0;
    a.navbar-brand {
        margin-top: 8px;
    }
    a, form a {
        color: $third-color;
        font-size: 2em;
        font-family: $header-font;
    }

    a:hover, a:focus {
        color: $third-color-hover;
        background: none;
    }
    .nav>li {
       display: inline-block;
           a:hover, a:focus {
               background: none;
           }
    }
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: none;
}

.nav .dropdown-menu {
    padding: 0;
    margin: 0;
    > li, form > li {
        padding: 0;
        margin: 0;
    }
     > li a:hover, form > li:hover {
        background-color: $secondary-color;
     }
 }

.nav-account {
    float: right;
    margin-top: 8px;
    li form  a {
        text-decoration: none;
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }
    a, form a {
        font-size: 1.8em;
    }
}

.caret {
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    margin-left: 4px;

}
/* SECONDARY NAVBAR */
.subnav {
    background-color: $secondary-color;
    height: 65px;
    h1 {
        display: block;
        font-family: $subheader-font;
        font-size: 1.9em;
        padding: 15px 0 0 90px;
        margin: 0;
    }
    .admin-btns {
        margin-left: 85px;
        a.action-btn {
            text-decoration: none;
            margin: 8px 5px;   
            padding: 9px;        
            border: 2px solid $primary-color-border;
            border-radius: 5px;
            background-color: $primary-color;
            color: #000;
            height: 46px;
            font-size: 1.1em;
            letter-spacing: 1px;
            display: inline-block;     
            position: relative;    
            z-index: 1;
        }
        a.action-btn:hover {
            text-decoration: none;
            background-color: $primary-color-hover;
            border: 2px solid $primary-color-border-hover;
            color: #000;
        }
    }
}


/* TEXT */

a, a.admin-btns, form a {
    font-family: $content-font;
    font-size: inherit;
}

a:hover {

}

h2 {
    font-family: $content-font;
    font-size: 1.7em;
}

h3 {
    font-family: $content-font;
    font-size: 1.4em;
}

p {
    font-family: $content-font;
    font-size: 1.1em;
}

.content, .content-other {
    margin-top: 20px;
}