/*COLOR PALETTE: http://www.colourlovers.com/palette/359978/w_o_r_d_l_e_s_s_. */
/*gray */
/* green */
/* white */
/* FONTS */
/* line 35, main.scss */
body {
  padding-top: 80px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

/* line 41, main.scss */
.navbar-static-top {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}

/* line 48, main.scss */
.landing-header {
  font-family: "Alegreya", serif;
  padding-bottom: 15px;
}

/* TOP NAVBAR */
/* line 54, main.scss */
.navbar-default {
  border: none;
}

/* line 58, main.scss */
.navbar-default .navbar-brand {
  color: #fff;
}

/* line 61, main.scss */
.navbar-default .navbar-brand:hover {
  color: #CBE86B;
}

/* line 65, main.scss */
nav {
  position: absolute;
  background: url("Images/header-code.jpg");
  background-color: #000;
  height: 80px;
  border: 0;
}
/* line 71, main.scss */
nav a.navbar-brand {
  margin-top: 8px;
}
/* line 74, main.scss */
nav a, nav form a {
  color: #fff;
  font-size: 2em;
  font-family: "Alegreya", serif;
}
/* line 80, main.scss */
nav a:hover, nav a:focus {
  color: #CBE86B;
  background: none;
}
/* line 84, main.scss */
nav .nav > li {
  display: inline-block;
}
/* line 86, main.scss */
nav .nav > li a:hover, nav .nav > li a:focus {
  background: none;
}

/* line 92, main.scss */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: none;
}

/* line 96, main.scss */
.nav .dropdown-menu {
  padding: 0;
  margin: 0;
}
/* line 99, main.scss */
.nav .dropdown-menu > li, .nav .dropdown-menu form > li {
  padding: 0;
  margin: 0;
}
/* line 103, main.scss */
.nav .dropdown-menu > li a:hover, .nav .dropdown-menu form > li:hover {
  background-color: #CBE86B;
}

/* line 108, main.scss */
.nav-account {
  float: right;
  margin-top: 8px;
}
/* line 111, main.scss */
.nav-account li form a {
  text-decoration: none;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
/* line 121, main.scss */
.nav-account a, .nav-account form a {
  font-size: 1.8em;
}

/* line 126, main.scss */
.caret {
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  margin-left: 4px;
}

/* line 134, main.scss */
.faq {
  float: right;
  padding-top: 20px;
}

/* SECONDARY NAVBAR */
/* line 140, main.scss */
.subnav {
  background-color: #CBE86B;
  height: 65px;
}
/* line 143, main.scss */
.subnav h1 {
  display: block;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.8em;
  padding: 15px 0 0 90px;
  margin: 0;
}
/* line 150, main.scss */
.subnav .admin-btns {
  margin-left: 85px;
}
/* line 152, main.scss */
.subnav .admin-btns a.action-btn {
  background: #e5e3e3;
  color: #000;
  box-shadow: 0 6px #1F1B1B;
  border-radius: 5px;
  text-decoration: none;
  margin: 8px 5px;
  padding: 9px;
  height: 46px;
  font-size: 1.1em;
  letter-spacing: 1px;
  display: inline-block;
  position: relative;
  z-index: 1;
}
/* line 164, main.scss */
.subnav .admin-btns a.action-btn:hover {
  box-shadow: 0 4px #1F1B1B;
  top: 2px;
  text-decoration: none;
}

@media screen and (max-width: 765px) {
  /* line 173, main.scss */
  .subnav h1 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 480px) {
  /* line 181, main.scss */
  .nav a {
    font-size: 1.3em;
  }

  /* line 186, main.scss */
  .subnav h1 {
    font-size: 1.2em;
  }
  /* line 189, main.scss */
  .subnav .admin-btns a.action-btn {
    font-size: 1em;
  }

  /* line 194, main.scss */
  .faq {
    float: none;
  }
}
/* TEXT */
/* line 201, main.scss */
a, a.admin-btns, form a {
  font-family: "Roboto", sans-serif;
  font-size: inherit;
}

/* line 206, main.scss */
a {
  color: #0b486b;
}

/* line 210, main.scss */
a:hover {
  color: #818e52;
  text-decoration: none;
}

/* line 215, main.scss */
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.7em;
}

/* line 220, main.scss */
h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
}

/* line 225, main.scss */
p, form, ul li {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
}

/* line 230, main.scss */
.content, .content-other {
  margin-top: 20px;
}

/* Buttons */
/* line 235, main.scss */
.btn-default {
  background: #CBE86B;
  color: #000;
  box-shadow: 0 6px #000;
  border-radius: 5px;
  border: none;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  letter-spacing: 1px;
}

/* line 244, main.scss */
.btn-default:hover {
  background: #CBE86B;
  color: #000;
  box-shadow: 0 6px #000;
  border-radius: 5px;
  box-shadow: 0 4px #000;
  top: 2px;
  border: none;
}

/* Forms (from Skeleton Grid framework) */
/* line 252, main.scss */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select,
.form-control,
input.datepicker {
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1em;
}

/* line 273, main.scss */
.form-control {
  height: 38px;
}

/* Removes awkward default styles on some inputs for iOS */
/* line 277, main.scss */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 288, main.scss */
textarea {
  min-height: 150px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 100%;
}

/* line 294, main.scss */
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

/* line 305, main.scss */
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: .9px;
}

/* line 312, main.scss */
fieldset {
  padding: 0;
  border-width: 0;
}

/* line 315, main.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

/* line 318, main.scss */
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

/* line 323, main.scss */
form a {
  font-size: 1.1em;
}

/* line 327, main.scss */
.chosen-single span {
  font-size: 1.2em;
}

/* line 331, main.scss */
tfoot input[type="text"] {
  max-width: 150px;
}

/* Tables */
/* line 336, main.scss */
thead {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2em;
  font-weight: normal;
}

/* line 342, main.scss */
tbody td, tfooter {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

/* line 347, main.scss */
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

/* line 353, main.scss */
input.delete {
  border: none;
  background: none;
  color: #a94442;
  font-size: .9em;
}

/* line 360, main.scss */
input.delete:hover {
  border: none;
  background: none;
  color: #6f822a;
}

/* line 366, main.scss */
.comment {
  width: 90%;
}
/* line 368, main.scss */
.comment h4 {
  font-family: "Roboto Condensed", sans-serif;
  border-bottom: 1px solid #ddd;
  padding-bottom: 3px;
}

/* line 376, main.scss */
p.author {
  font-family: "Roboto Condensed", sans-serif;
}

/* line 380, main.scss */
h3.attachment {
  margin-bottom: 20px;
}
